$picker-border-radius: 2px !default;
$picker-header-padding: 16px !default;
$picker-inactive-btn-opacity: .4 !default;
$picker-active-btn-opacity: 1 !default;
$picker-landscape-header-width: 170px !default;
